.footer {
    background-image: url("/assets/images/background.jpg");
    text-align: center;
    padding-top: 10em;

    .socials {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
            width: 4em;
            margin: 0 1em;
            align-self: center;
        }
    }

    #mlogo {
        margin: 1em;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        .socials {
            img {
                width: 10vw;
                margin: 1vw;
            }
        }
    }
}