.landing {
    background-image: url(../assets/images/background.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        align-self: center;
    }

    #landing-logo {
        max-width: 30vw;
        max-height: 50vh;
        min-width: 15em;
        min-height: 12em;
        object-fit: contain;
    }

    #music-producer {
        max-width: 20em;
    }

    #arrow-down {
        width: 1.2em;
        position: absolute;
        top: 96vh;
        transform:translateY(-100%);
    }
}

@media screen and (max-width: 450px) {
    .landing {
        #music-producer {
            max-width:15em;
        }
    }
}