.landing {
    background-image: url(../assets/images/background.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        align-self: center;
    }

    #landing-logo {
        max-width: 30vw;
        max-height: 50vh;
        width: auto;
        height: auto;
    }

    #music-producer {
        width: 12em;
    }

    #arrow-down {
        width: 1.2em;
        transform: translateY(10vh);
    }
}

@media screen and (max-width: 850px) {
    .landing {
        #landing-logo {
            max-width: 80vw;
            max-height: 40vh;
            width: auto;
            height: auto;
        }
    }
}